{% extends "layout.html" %}

{{ super() }}

{% block csshref%}
{% endblock %}

{% block breadcrumb %}
Monitor
{% endblock %}

{% block content %}

<div class='row'>

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold">Notific8 Notification Demo</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="note note-success">
                    <p> jquery.notific8 is a notification plug-in that was inspired by the notification style introduced in Windows 8. For more info Check out</p>
                </div>
        
                <div class='row' id="mainRow">
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scriptsrc %}
<script src="/static/js/sweetalert.js" type="text/javascript"></script>
<script src="/static/js/echarts.min.js" type="text/javascript"></script>
{% endblock %}

{% block script %}

function echarts_func(selector, option) {
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById(selector));
    
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
}


function mem_monitor_info(text, subtext, metric, fields, values) {

    var option = {
        title: {
            text: text,
            subtext: subtext
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:metric
            //data:['最高气温','最低气温']
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis:  {
            type: 'category',
            boundaryGap: false,
            data: fields 
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value}'
            }
        },
        series: [
            {
                name:metric[0],  // 变量
                type:'line',
                data:values,     // 变量
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
        ]
    };
    return option;
}


function gen_string(selector) {
	var start_str = '<div class="col-md-12"> <div id=';
	var end_str = ' style="width: 1200px;height:400px;"></div></div>';
	var data = start_str + '"' + selector + '"' + end_str;
	return data;
}

function gen_div() {

    $.get("/api/v1/monitor", function(data) {
        var html_string = ""
        $.each(data.data, function(hostname, dic) { 
             var hostname = hostname.toString()
             var data = gen_string(hostname);
             html_string += data
        });
        $("#mainRow").html(html_string);
    });
};

function push_mem_monitor() {
    $.get("/api/v1/monitor", {'time' : create_time}, function(data) {

        create_time = data.message['next_time'];
        if ( data.code == 0 ) {
            $.each(data.data, function(hostname, dic) { 
                var hostname = hostname.toString()
                var option = mem_monitor_info(hostname, '', ['mem_free'], dic.y, dic.x)
                echarts_func(hostname, option);
            });
        } else {
            alert('error');
            console.log('err');
        };

    });

};

// 执行函数
create_time = ''
gen_div()
push_mem_monitor()
setInterval(function() {
    push_mem_monitor()
}, 8000);


{% endblock %}
