{% extends "layout.html" %}

{{ super() }}

{% block csshref%}
{% endblock %}

{% block breadcrumb %}
Monitor
{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-md-6'>
        <div id="main" style="width: 600px;height:400px;"></div>
    </div>
    
    <div class='col-md-6'>
        <div id="main3" style="width: 600px;height:400px;"></div>
    </div>

    <div class='col-md-10 col-md-offset-2'>
        <div id="main2" style="width: 1000px;height:400px;"></div>
    </div>

</div>

{% endblock %}

{% block scriptsrc %}
<script src="/static/js/sweetalert.js" type="text/javascript"></script>
<script src="/static/js/echarts.min.js" type="text/javascript"></script>
{% endblock %}

{% block script %}

function echarts_func(selector, option) {
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById(selector));
    
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
}


// 指定图表的配置项和数据
var option_main = {
    title: {
        text: 'ECharts 入门示例'
    },
    tooltip: {},
    legend: {
        data:['销量']
    },
    xAxis: {
        data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
    },
    yAxis: {},
    series: [{
        name: '销量',
        type: 'bar',
        data: [5, 20, 36, 10, 10, 20]
    }]
};
// 执行函数
echarts_func('main', option_main)


function mem_monitor_info(text, subtext, metric, fields, values) {

    var option = {
        title: {
            text: text,
            subtext: subtext
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:metric
            //data:['最高气温','最低气温']
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis:  {
            type: 'category',
            boundaryGap: false,
            data: fields 
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value}'
            }
        },
        series: [
            {
                name:metric[0],  // 变量
                type:'line',
                data:values,     // 变量
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
        ]
    };
    return option;

}


function push_mem_monitor() {
    $.get("/api/v1/monitor", function(data) {
        if ( data.code == 0 ) {
            $.each(data.data, function(hostname, dic) { 
                var hostname = hostname.toString()
                // func
                var option = mem_monitor_info(hostname, '', ['mem_free'], dic.y, dic.x)
                //var option = mem_monitor_info(hostname', '123', ['mem_free'], dic.x, dic.y);

                // func
                echarts_func('main2', option);
            });
        } else {
            alert('error');
        };
    });

};

// 执行函数
push_mem_monitor()
setInterval(function() {
    push_mem_monitor()
}, 5000);


var option_main3 = {
    title : {
        text: '某站点用户访问来源',
        subtext: '纯属虚构',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:335, name:'直接访问'},
                {value:310, name:'邮件营销'},
                {value:234, name:'联盟广告'},
                {value:135, name:'视频广告'},
                {value:1548, name:'搜索引擎'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};

// 执行函数
echarts_func('main3', option_main3)

{% endblock %}
