{% extends "layout.html" %}

{{ super() }}

{% block csshref%}
{% endblock %}

{% block breadcrumb %}
Log Pie 
{% endblock %}

{% block content %}

<div class='row'>

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold">Notific8 Notification Demo</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="note note-success">
                    <p> jquery.notific8 is a notification plug-in that was inspired by the notification style introduced in Windows 8. For more info Check out</p>
                </div>
        
                <div id="main" style="width: 1200px;height:500px;"></div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scriptsrc %}
<script src="/static/js/echarts.min.js" type="text/javascript"></script>
{% endblock %}

{% block script %}

function echarts_func(selector, option) {
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById(selector));
    
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
}


function mem_monitor_info(text, subtext, metric, fields, values) {

    var option = {
        title: {
            text: text,
            subtext: subtext
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:metric
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis:  {
            type: 'category',
            boundaryGap: false,
            data: fields 
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value}'
            }
        },
        series: [
            {
                name:metric[0],  // 变量
                type:'line',
                data:values,     // 变量
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
        ]
    };
    return option;

}


$(document).ready(function(){ 

    $.get('/api/v1/log/nginx/count', function(data) {

        option = {
            title : {
                text: '日志数据',
                subtext: 'actual16-reboot',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data: data['fields'] 
            },
            calculable : true,
            series : [
                {
                    name:'访问来源',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', 225],
                    data : data['data'],
                }
            ]
        };

        // 执行函数
        echarts_func('main', option)
    });
});


{% endblock %}
