{% extends "layout.html" %}

{% block csshref%}
{% endblock %}

{% block breadcrumb %}
控制系统
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-6">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> 命令执行</span>
                </div>
            </div>

            <div class="portlet-body form">
                <form role="form" id="cmdform">
                    <div class="form-body">
                        <!--<div class="form-group">
                            <label>主机</label>
                            <select class="form-control" id="cmd_host">
                                <option value="">------请选择------</option>
                                <option>192.168.10.21</option>
                                <option>192.168.10.22</option>
                                <option>192.168.10.23</option>
                                <option>192.168.10.24</option>
                                <option>192.168.10.25</option>
                                <option>192.168.10.26</option>
                                <option>192.168.10.27</option>
                                <option>192.168.10.28</option>
                                <option>192.168.10.29</option>
                                <option>192.168.10.30</option>
                            </select>
                        </div>-->
                        <div class="form-group">
                            <label>主机</label>
                            <select multiple="" class="form-control" id="cmd_hostgroup">
                                <option>112.74.164.107</option>
                                <option>112.74.164.107</option>
                                <option>112.74.164.107</option>
                                <option>112.74.164.107</option>
                                <option>112.74.164.107</option>
                                <option>112.74.164.107</option>
                                <option>112.74.164.107</option>
                                <option>112.74.164.107</option>
                                <option>112.74.164.107</option>
                                <option>112.74.164.107</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>命令</label>
                            <textarea class="form-control" rows="3" id="cmd" required></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn default">取消</button>
                            <button type="submit" class="btn blue" id="cmd_btn">执行</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">文件上传</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" id="uploadForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">主机</label>
                            <div class="col-md-9">
                                <select multiple="" class="form-control" id="upload_hostgroup" name="upload_hostgroup">
                                    <option>112.74.164.107</option>
                                    <option>112.74.164.107</option>
                                    <option>112.74.164.107</option>
                                    <option>112.74.164.107</option>
                                    <option>112.74.164.107</option>
                                    <option>112.74.164.107</option>
                                    <option>112.74.164.107</option>
                                    <option>112.74.164.107</option>
                                    <option>112.74.164.107</option>
                                    <option>112.74.164.107</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">分发地</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="target" required="" aria-required="true" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile" class="col-md-3 control-label">文件上传</label>
                            <div class="col-md-9">
                                <input type="file" id="exampleInputFile" name="file">
                                <p class="help-block"> Please upload local file to remote.. </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn default">取消</button>
                                <button type="submit" class="btn green" onclick="doUpload();return false;">分发</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
		</div>
    </div>

</div>

<div class="row" id="output_box">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase"> 标准输出</span>
            </div>
        </div>

        <div class="portlet-body form" id="output"></div>
    </div>
</div>


{% endblock %}

{% block scriptsrc %}
<script src="/static/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/static/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/sweetalert.js" type="text/javascript"></script>

<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/messages_zh.js"></script>
{% endblock %}

{% block script %}

// 验证模态窗表单
$("#cmdform").validate();


$("#output_box").hide();
//$("#output").css('display','none');

$("#cmd_btn").on("click", function() {
    if (!$("#cmdform").valid() ) {
        return ;
    }
    var cmd = $("#cmd").val();
    var cmd_hostgroup = $("#cmd_hostgroup").val();
    var retdata = {'cmd_hostgroup' : cmd_hostgroup, 'cmd' : cmd};
    $.post('/control/cmd', retdata, function(data) {
        if ( data['code'] == 0 ) {
            $("#output_box").show();
            $("#output").html("<pre>" + data.data+ "</pre>");
        } else {
            alert(data.message);
        };
    });
    return false;
});

function doUpload() { 

    if (!$("#uploadForm").valid() ) {
        return ;
    }

    var formData = new FormData($( "#uploadForm" )[0]);  
    console.log(formData);
    $.ajax({  
         url: '/control/upload' ,  
         type: 'POST',  
         //data: retdata,  
         data: formData,  
         async: false,  
         cache: false,  
         contentType: false,  
         processData: false,  
         success: function (data) {  
             if ( data['code'] == 0 ) {
                 $("#output_box").show();
                 $("#output").html("<pre>" + data.data+ "</pre>");
             } else {
                 alert(data.message);
             };
         },  
         error: function (returndata) {  
             alert(returndata);  
         }  
    }); 

};

{% endblock %}
