<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Reboot Actual 16</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for blank page layout" name="description" />
        <meta content="" name="author" />
        <link href="/static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/layouts/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/static/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/css/main_define.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/imgs/favicon.ico" rel="shortcut icon" /> 
        	
        {% block csshref%}{% endblock %}
        
        <style>
        {% block css %}{% endblock %}
        </style>
    </head>

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

        <!-- BEGIN CORE 导航栏 -->
        <div class="page-wrapper">
            <div class="page-header navbar navbar-fixed-top">
                <div class="page-header-inner ">
                    <div class="page-logo">
                        <a href="/">
                            <img src="/static/layouts/layout/img/logo.png" alt="logo" class="logo-default" /> </a>
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>

                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="/static/layouts/layout/img/avatar3_small.jpg" />
                                {% if session.has_key('sign') %}
                                    <span class="username username-hide-on-mobile"> {{ session['sign']['cn_name'] }} </span>
                                {% endif %}
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li >
                                    <a href="/users/profile"><i class="icon-user"></i> 个人详情 </a>
                                </li>
                                <li >
                                    <a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> 退出 </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END THEME LAYOUT 导航栏-->

        <!-- BEGIN 左边菜单栏-->
        <div class="clearfix"> </div>
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                	
                    <ul id="menuPage" class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <li class="sidebar-toggler-wrapper hide">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title">用户管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item ">
                                    <a href="/users" class="nav-link ">
                                        <span class="title">用户列表</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/users/group" class="nav-link ">
                                        <span class="title">用户组</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-puzzle"></i>
                                <span class="title">资源管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="/assets" class="nav-link ">
                                        <span class="title">资产管理</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/control" class="nav-link ">
                                        <span class="title">控制系统</span>
                                        <span class="badge badge-success">6</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link ">
                                        <span class="title">任务调度</span>
                                    </a>
                                </li>
                
                            </ul>
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-settings"></i>
                                <span class="title">性能平台</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="/monitor" class="nav-link ">
                                        <span class="title">内存监控
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/log/pie" class="nav-link ">
                                        <span class="title">日志饼图
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/log/map" class="nav-link ">
                                        <span class="title">日志地图
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END 左边菜单栏-->


            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i> <a href="/">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>{% block breadcrumb %}{% endblock %}</span>
                            </li>
                        </ul>
                    </div>
	    				
	    	    <div class="row">
	    	        <div class="col-md-12">
	    	            <div class="portlet light">
	    	       	        <div class="portlet-body">
	                            {% block content %}{% endblock %}
    		    	        </div>
	    	            </div>
	    	        </div>
	    	    </div>
	    	</div>

            <!-- BEGIN footer -->
            <div class="page-footer">
                <div class="page-footer-inner"> 2017 &copy; monkey. All rights reserved.</div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- BEGIN footer -->
        </div>
      
        <!-- BEGIN SCRIPTS -->
        <script src="/static/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="/static/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="/static/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/static/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/static/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="/static/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <script src="/static/js/main_define.js" type="text/javascript"></script>
        {% block scriptsrc %}
        {% endblock %}

        <script>
             // 菜单点击折叠
             var path = location.pathname
             var path = path.replace(/\/$/i, '');
             console.log(path);
			 var elemnt = $('[href="'+path+'"]');			
			 $('#menuPage').find('.nav-item').removeClass('active');
			 elemnt.parent('li').addClass('active');            
			 elemnt.parents('.nav-item').addClass('active open')

            {% block script %}
            {% endblock %}
        </script>
        <!-- END SCRIPTS -->
    </body>

</html>
